<div class="row">
    <div class="col-sm-6">   
        <div class="col-sm-5"><h4>Admins</h4></div>
        <div class="col-sm-1"><a ui-sref="addAdmin"><button type="button" class="btn">+</button></a></div>
        <div class="col-sm-8"></div>

        <div class="col-sm-6">
            <ul ng-repeat="admin in admins">
                <a href="/admin/{{admin.id}}">
                    <figure>
                        <img ng-src="img/admins/{{admin.image}}" width=100% height=200px>
                        <figcaption style=color:blue;>{{admin.name}}, {{admin.role}}</figcaption>
                        <figcaption style=color:blue;>{{admin.phone}}</figcaption>
                        <figcaption style=color:blue;>{{admin.email}}</figcaption>
                    </figure>
                </a>
            </ul>
        </div> 

        <div class="col-sm-6"></div> 
    </div>
    
    <div class="col-sm-6">
        <div class="col-sm-12"><h1>Admin summary</h1></div>
        <div class="col-sm-12"><h2>There are:</h2></div>
        <div class="col-sm-12"><h3>{{admins.length}} Administrators</h3></div>
    </div>
</div>
